NODE_ENV=development
PORT=8080
DATABASE_URL="postgresql://postgres:postgres@localhost:5435/justiturno?schema=public"
FRONTEND_URL=http://127.0.0.1:5174
JWT_SECRET=change_me_in_development
JWT_EXPIRES_IN=8h
COOKIE_NAME=justiturno_session
APP_TIMEZONE=America/Bogota
